* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(119, 115, 115);
    width: 100%;
    height: 92vh;
}
/* Creating New Nav bar */
nav {
  width: 100vw;
  height: 8vh;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 10%;
  height: inherit;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titles {
  width: 80%;
  height: inherit;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: white;
}

.title1, .title2, .title3, .title4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: font-weight 0.3s ease; /* Smooth transition */
}

.title1 span, .title2 span, .title3 span, .title4 span {
    font-weight: normal; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}
.title1:hover, .title2:hover, .title3:hover, .title4:hover {
    font-weight: bold; /* Make text bold on hover */
}
.profile {
  width: 10%;
  height: inherit;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 40%;
  height: 35px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
    width: 93%;
    height: inherit;
    border-radius: inherit;
    border: none;
    border-left: 2px solid rgb(219, 213, 213);
    padding-left: 10px;
}

.icon{
    width: 7%;
    height: inherit;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: black;
}

.profilepicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}


/* Main body Start from here */

.header {
  position: relative;
  text-align: center;
}
.search-bar {
  position: absolute;
  top: 5%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-top: 100px;
}
.search-bar input[type="search"] {
  width: 300px;
  height: 40px;
  padding: 100px;
  font-size: 16px;
}
.button {
  position: absolute;
  top: 0px;
  right: -36%;
  z-index: 1;
  padding-top: 100px;
}
.food {
  padding-top: 200px;
}
.r-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 20px;
}
h3 {
  margin-left: 250px;
}
.container {
  display: flex;
  align-items: center;
}
