@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: url(https://static.vecteezy.com/system/resources/thumbnails/050/509/934/small_2x/abstract-black-tiles-photo.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.first_col {
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 70px;
    top: 10px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid white;
    backdrop-filter: blur(9px);
    color: #fff;
}

.img-fluid {
    border-radius: 20px;
}
form{
}
.row-last {
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 200px;
    padding-bottom: 100px !important;
    background-color: #c1b688;
    border-radius: 20px;

}

.btn-primary {
    background-color: transparent;
    border: 2px solid white;

}

.btn-primary:hover {
    background-color: transparent !important;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 500px !important;
        top: 0 !important;
    }
}

.p-4mt-5 {
    z-index: 0;
}

.col-md-6 img{
    z-index: -1;
    
}

.last_row {
    z-index: +1;
    height: 200px;
    width: 75%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    position: relative;
    top: -110px;
    left: 300px;
    background: transparent;
    border: 2px solid white;
    backdrop-filter: blur(9px);
    color: #fff;
}

.media-icons {
    z-index: 2;
    position: relative;
    top: 20px;
    left: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

.media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.media-icons a:hover {
    transform: scale(1.3);
}

.media-icons #wp {
    position: relative;
    bottom: 8px;
}